body{
    background-color: #121e27;
    font-family:Century Gothic;
    color:white;
}
header{
    background-color: #121e27;
    height: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    
}
.for{
    background-image: url('../image/trenirovka-dlya-zhirozhiganiya.webp');
    height: 300px;
    width: 500px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}
.panel{
    position: fixed;
    top: 0px;
    background-color: #0e151b;
    padding: 15px;
    width: 100%;
    text-decoration:none;
    text-align: center;
    left: 0px;
    z-index: 10;
}
.panel2{
    position: fixed;
    top: 0px;
    background-color: #0e151b;
    padding: 15px;
    width: 60px;
    text-decoration:none;
    text-align: center;
    left: 0px;
    font-size: 38px;
    font-weight:600;
    z-index: 10;
}
h1{
    
    background-color: #121e27;
}
.ft{
    text-align: center;
}
.ss{
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    border-bottom: #0e151b;
    color: white;
    text-decoration:none;
}

.s2{
    font-size: 40px;
    font-weight:600;
}

.s1:hover{
    /*
    border-bottom: #2ddfd1 3px solid;
    padding-bottom: 5px;
    */
    color:#2ddfd1;
    transition: 0.3s;
}

.tren{
    background-color: #121e27;
    padding: 30px 3px 30px 30px;
    width: 1400px;
    text-align: center;
    text-decoration:none;
    left:100px;
    display: inline-block;
    height: 60px;
    border-radius: 15px;
    border: solid 3px #4b6174;
}
.vv{
    margin: 50px;
    padding-bottom: 15px;
    border-bottom: #0e151b;
    color: white;
    font-style:inherit;
    text-decoration:none;
    font-size: 45px;
    font-weight: 900;
}
.vv:hover{
    border-bottom: #2ddfd1 3px solid;
    padding-bottom: 5px;
    color:#2ddfd1;
    transition: 0.3s;
}
/*
.bv{
    background-color:white;
    color:#0e151b;
    padding: 15px;
    border-bottom: #0e151b;
}
*/
main{
    text-align: center;

}
article{
    
    margin: 40px 0 0 0;
}
/*
.tren{
    
    
    width: 80%;
    text-decoration:none;
    left:100px;
}
*/
.courses{
    display: inline-block;
    background-color:#0e151b;
    margin: 15px;
    padding: 40px 0 0 0px;
    border-radius: 15px;
    border: solid 3px #4b6174;
    font-size: 25px;
    font-weight: 600;
    height: 80px;
    width: 1400px;
    
}
.xx{
    margin: 0 0px 0 240px;
    padding-bottom: 15px;
    border-bottom: #0e151b;
    color: white;
    font-style:inherit;
    text-decoration:none;
    display: inline;
}
.mm{
    margin: 30px;
}
.xm{
    margin-right: 5px;
}

video{
    width: 800px;
}